
    <div class="card h-100 z-index mycard" >
      <div (click)="details(movie.id)">
        <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" class="card-img-top mycard details" [alt]="movie.title"   >
      </div>        <div class="card-body">
          <h4 class="card-title" [ngClass]="movie.adult ?'text-success':''">{{movie.title}}  
        </h4>
        <div class="row font-weight-bold mt-3">
        <div class="col-9">
          <p class="h5">{{movie.release_date | date:'MMM d , y'}}</p>
        </div>
        <div class="col">
          <i class=" mr-2" (click)="toggleHeart()" [class.bi-heart]="!isHeartFilled" [class.bi-heart-fill]="isHeartFilled" [style.color]="isHeartFilled ? 'yellow' : ''" class="toggle"></i>
        </div>
        </div>
        </div>
      </div>
  
  