
    <div class="card-body h-100 z-index mycard " >
      <div (click)="details(movie.id)">
        <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" class="card-img-top mycard details" [alt]="movie.title"   >
      </div>
        <div class="card-body">
          <h2 >{{movie.title}}</h2>
        <div class="row font-weight-bold mt-3">
        <div class="col-9">
          <p class=" mr-2 date">{{ movie.release_date }}</p>
        </div>
        <div class="col">
          <i class=" mr-2" (click)="toggleHeart()" [class.bi-heart]="isHeartFilled" [class.bi-heart-fill]="!isHeartFilled" [style.color]="isHeartFilled ? '' : 'yellow'" class="toggle"></i>
        </div>
        </div>
        </div>
      </div>
  
  