<div class="d-flex justify-content-center">
    <div class="row mt-2 w-100">
        <div class="col-sm-8">
            <input type="search" [(ngModel)]="searchKey" id="mysearch" class="form-control" placeholder="MovieName"
                style="margin-bottom: 10px;">
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn" (click)="goToSerachPage()"
                style="margin-bottom: 10px;background-color: #FFFF00;">Search</button>
        </div>
    </div>
</div>